html,
body {
  width: 700px;
  background-color: #fff;
  padding: 10px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.download-album{
  width: 16px;
  height: 16px;
  background-image: url(../icons/arrow-48.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}